---
import About from '../components/About.astro';
import BaseHead from '../components/BaseHead.astro';
import Contact from '../components/Contact.astro';
import ContactForm from '../components/ContactForm.astro';
import Header from '../components/Header.astro';
import Pricing from '../components/Pricing.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { indexTexts, processTexts } from '../utils/texts';
import { pricingTexts } from '../utils/texts';


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div class="xl:max-w-screen-xl m-auto mt-20">
				<About />
				<Pricing />
				<Contact />
			</div>	
		</main>
	</body>
</html>
