---
import ContactForm from "./ContactForm.astro";

---

<section id="contact">
    <div class="flex flex-col bg-gradient-to-r from-[#bdc3c7] to-[#2c3e50] rounded-lg p-6">
        <ContactForm />
        <div class="flex flex-col flex-1 mt-6">
            <h1 class="text-4xl font-semibold mb-2 text-center text-white">Dane kontaktowe</h1>
            <p class="text-center text-lg text-white">
                MONOLIT WALDEMAR WYŻKIEWICZ<br>
                UL. BRZOZOWA 9/4<br>
                31-050 KRAKÓW<br>
                NIP: 944 149 63 31<br>
                <a class="m-auto text-center" href="tel:+48605245152">
                    <span class="text-lg m-auto text-white">TEL. +48 605 245 152</span>
                </a>
			</p>
		</div>
	</div>	
</section>
