<div class="flex-1 sm:max-w-sm m-auto">
      <h1 class="text-xl font-semibold mb-2 text-center">Skontaktuj się</h1>
      <form action="https://formsubmit.co/8d55be5601afd329cf02d24d8e794329" class="space-y-4" method="post">
        <div>
            <label for="email" class="block mb-2 text-xs font-medium text-[#444]">Twój e-mail</label>
            <input type="email" id="email" name="email" class="shadow-sm bg-gray-900 border border-gray-300 text-white text-xs rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2" placeholder="jankowalski@mail.com" required>
        </div>
        <div>
            <label for="subject" class="block mb-2 text-xs font-medium text-[#444]">Temat</label>
            <input type="text" id="subject" name="subject" class="block p-2 w-full text-xs text-white bg-gray-900 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500" placeholder="Wpisz temat wiadomości" required>
        </div>
        <div class="sm:col-span-2">
            <label for="message" class="block mb-2 text-xs font-medium text-[#444]">Twoja wiadomość</label>
            <textarea id="message" name="message" rows="6" class="block p-2 w-full text-xs text-white bg-gray-900 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500" placeholder="Napisz wiadomość..."></textarea>
        </div>
        <div class="flex justify-center">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-sm rounded-lg text-sm px-5 py-2.5 m-auto">
                Wyślij
            </button>
        </div>
      </form>
  </div>