<div class="lg:max-w-xl m-auto">
      <h1 class="text-3xl lg:text-6xl font-semibold mb-2 text-center text-white">Napisz do mnie i już teraz umów się na bezpłatną konsultację!</h1>
      <form action="https://formsubmit.co/monolitspedycja@o2.pl" class="space-y-4" method="post">
        <div class="mt-8 bg-white p-6 rounded-xl max-w-lg m-auto">
            <div>
                <label for="email" class="block mb-4 text-lg font-medium">Twój e-mail</label>
                <input type="email" id="email" name="email" class="shadow-sm text-lg rounded-lg border-gray-300 border-2 focus:ring-primary-500 focus:border-primary-500 block w-full p-2 mb-4" placeholder="jankowalski@mail.com" required>
            </div>
            <div>
                <label for="subject" class="block mb-4 text-lg font-medium">Temat</label>
                <input type="text" id="subject" name="subject" class="shadow-sm text-lg rounded-lg border-gray-300 border-2 focus:ring-primary-500 focus:border-primary-500 block w-full p-2 mb-4" placeholder="Wpisz temat wiadomości" required>
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-4 text-lg font-medium">Twoja wiadomość</label>
                <textarea id="message" name="message" rows="6" class="shadow-sm text-lg rounded-lg border-gray-300 border-2 focus:ring-primary-500 focus:border-primary-500 block w-full p-2 mb-4" placeholder="Napisz wiadomość..."></textarea>
            </div>
            <div class="flex justify-center">
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-sm rounded-lg text-sm px-5 py-2.5 m-auto">
                    Wyślij
                </button>
            </div>
        </div>
      </form>
  </div>